[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
passlib = "*"
flask-mysqldb = "*"
flask-wtf = "*"
flask-migrate = "*"
pyjwt = "*"
flask-cors = "*"
uuid = "*"

[requires]
python_version = "3.6"
